.about-us-pic-container {
    position: relative;
  }
  
  .about-us-pic-img {
    width: 100%;
    height: 500px;
    display: block;
  }
  
  .about-us-pic-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .about-us-pic-heading {
    color: var(--Color-Primary-Dark-Brown, #34251F);
    font-family: "Frank Ruhl Libre";
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    text-transform: capitalize;
  }
  
  .about-us-pic-paragraph {
    color: var(--Color-Primary-Dark-Brown, #34251F);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    text-transform: capitalize;
  }
  