.editUserHeading-admin {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 40px;
  }

  .divComponentContainer-admin {
    display: flex;
    width: 100%;
    padding: 40px 24px;
    flex-direction: column;
    gap: 24px;
    border-radius: 4px;
    border: 1px solid #141718;
    margin-bottom: 30px;
  }

  .formLabel-admin {
    color: var(--neutral-04100, #6C7275);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    padding-bottom: 7px;
  }

  .formLabel-ComponentWrapper-admin {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 0 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--blacking, #141108);
    background: var(--White, #FFF);
    color: #6C7275;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .editTextStyle-admin {
    color: var(--neutral-04100, #6C7275);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .userEdit-ButtonStyle-admin {
    display: flex;
    width: 100%;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #D994BC;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    transition: background 0.3s;
  }
  
  
  
  
  
  