.place-order-h1 {
    color: #000;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 40px;
  }

  .place-order-listGroup {
    width: 100%;
    padding: 40px 24px;
    gap: 24px;
    border-radius: 4px;
    border: 1.5px solid var(--neutral-04100, #6C7275);
    margin-top: 35px;
  }

  .contact-info-heading-place-order {
    color: var(--neutral-07100, #141718);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 10px;
  }

  .name-heading-place-order {
    color: var(--neutral-04100, #6C7275);
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .user-name-paragraph-place-order {
    color: var(--neutral-04100, #6C7275);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    font-feature-settings: 'clig' off, 'liga' off;
  }

  .custom-container-place-order {
    border-radius: 6px;
    border: 1.5px solid #D994BC;
    background: #FFF;
    padding: 16px 24px;
    margin-top: 35px;
    gap: 16px;
    box-sizing: border-box;
    width: 100%;
    margin: 35px auto 0 auto;
  }

  .place-order-summary-heading {
    align-self: stretch;
    color: var(--Black-900, #121212);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    margin-top: 35px;
    letter-spacing: -0.6px;
  }

  
  .product-link-place-order {
    color: var(--blacking, #141108);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  
  .price-paragraph-order {
    color: var(--Black-900, #121212);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }

  .subtotal-col-order {
    color: var(--neutral-07100, #141718);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
  }

  .order-total-col {
    color: var(--neutral-07100, #141718);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
  }
  

  .total-col-order {
    color: var(--neutral-07100, #141718);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  .order-total-final-col {
    color: var(--neutral-07100, #141718);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  .button-style-order {
    display: flex;
    width: 100%;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #D994BC;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
    border: none;
    transition: background 0.3s;
  }
  
